body {
    color: #2d3339;
    font-family: "Varela Round";
    text-align: center;
    background: #edeff0;
    font-size: 16px; }

a {
    color: #3f8abf;
    text-decoration: none; }
a:hover {
    color: #65a1cc; }

.list {
    background: #fff;
    width: 80%;
    min-width: 500px;
    margin: 80px auto 0;
    border-top: 40px solid #5a6772;
    text-align: left; }
.item {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #edeff0;
    padding: 17px 0 18px 17px; }
.item label {
    padding-left: 5px;
    cursor: pointer; }
.item .editing-label {
    margin-left: 5px;
    margin-left: 5px;
    font-family: "Varela Round";
    border-radius: 2px;
    border: 2px solid #a7b9c4;
    font-size: 16px;
    padding: 15px 0 15px 10px;
    width: 60%; }
.item .actions {
    float: right;
    margin-right: 20px; }
.item .actions .delete {
    color: #ed5a5a;
    margin-left: 10px; }
.item .actions .delete:hover {
    color: #f28888; }
.item.editing-item .actions {
    margin-top: 17px; }
.edited label:after {
    content: " edited";
    text-transform: uppercase;
    color: #a7b9c4;
    font-size: 14px;
    padding-left: 5px; }
.list .completed label {
    color: #a7b9c4;
    text-decoration: line-through; }
.list .add {
    padding: 25px 0 27px 25px; }


.list .filters{
    padding: 25px 0 27px 25px;
}

.pointer{
    cursor: pointer;
}

.filter{
    margin-right: 60px;
}